#ordersContainer h2 {
  margin-top: 20px;
  margin-left: 10vw;
}

#requestList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  
  width: 100%;
  height: 72vh;
  overflow: scroll;
}

#requestList #requestItem {
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #c4c4c4;
  border-radius: 6px;
  margin: 10px;

  flex-direction: column;
}

#requestList #requestItem #resquestInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#requestList #requestItem #resquestUl {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

#requestList #requestItem #resquestUl li {
  margin-top: 8px;
}
