#requestList {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 80vw;
}

#requestList #requestItem {
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #c4c4c4;
  border-radius: 6px;
  margin: 10px;

  flex-direction: column;
}

#requestList #requestItem #resquestInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#requestList #requestItem #resquestUl{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}