@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap%27');

:root {
  --background-color: #f0f0f8;
  --red-button: #e04b4b;
  --title-color: #3b5467;
  --grey: #c4c4c4;
  --black-text-font: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, a {
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
}

a {
  color: var(--black-text-font);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

/* .classe , #id */

.componentContainer {
  margin-top: 50vh;
  transform: translateY(-50%);

  font-family: 'Roboto', sans-serif;

}

.title {
  font-family: 'Righteous', cursive;
  font-size: 32px;
  color: var(--black-text-font);
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;

  border: none;
  border-radius: 8px;

  margin-top: 20px;
  padding: 12px;
  width: 265px;
  background-color: var(--red-button);
  color: #fff;
}
